<%
string = "<div class='text-center'>"+@results_number.to_s+" results found in "+@time.to_s+" seconds</div><br><div class='tab-content' style='height: 464px;'>"
@query_results.each_with_index{|array, index|
    index==0 ? classe='in active' : classe=''
    string = string + "<div role='tabpanel' class='tab-pane fade "+classe+"' id='"+index.to_s+"'>"
    array.each{ |hash|
        if !hash[:microdata].strip.blank?
            microd = "<a class='microdata' data-toggle='popover' title='MicroData' data-content='"+hash[:microdata]+"' href='#a'><span class='glyphicon glyphicon-share' aria-hidden='true'></span></a>"
        else
            microd = "<a class='microdata' style='color: transparent !important'><span class='glyphicon glyphicon-share' aria-hidden='true'></span></a>"
        end
        string = string + "<div><div style='padding-top: 10px; padding-bottom: 10px;'><a target='_blank' href='"+hash[:url]+"'><h4>"+hash[:title]+"</h4></a>"+microd+"<a style='color:orange; float:right; margin-right: 10px;' href='#a'><span class='glyphicon glyphicon-file' aria-hidden='true'></span></a></div><span>"+hash[:extract]+"</span></div>"
    }
    string = string + "</div>"
}
string = string + "</div><ul style='margin-top:30px' role='tablist' class='pagination'>"
@query_pages.times{ |time|
    time==0 ? classe='active' : classe=''
    string = string + "<li class='"+classe+"' role='presentation'><a href='#"+time.to_s+"' aria-controls='"+time.to_s+"' role='tab' data-toggle='tab'>"+time.to_s+"</a></li>"
}
string = string + "</ul>"
%>
$('#results').html("<%=string.html_safe%>");
$('.microdata').popover();